.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0;
  max-width: 302px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateY(20%);
}

@media screen and (max-width: 929px) {
  .profile__name {
    font-size: 27px;
    line-height: 56px;
    transform: translateY(33%);
    max-width: 280px;
  }
}
